.image{
    background-image: url(/img/fondo-del-escritorio-trabajo-de-la-mujer-con-el-espacio-visión-superior-125970846.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.titl{
    display: grid;
    grid-template-columns:100%;  
    justify-items: center;
  align-items: center;

}
.fot_nom{
    display: grid;
    grid-template-columns:20% 80%;
    height: 100px;
    justify-items: center;
    align-items: center;
    }
.image_profile{
    width: 40%;
    border-radius: 15px;
    display: block;
    margin: auto;
    }